* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  display: inline-block;
  height: 100%;
  width: 250px;
  position: relative;
  z-index: 1;
  top: -69px;
  left: 0;
  background-color: #111;
  /* overflow-x: hidden; */
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .sidebarElement {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  line-height: 53px;
}
.sidebar .sidebarSpecialElement {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 21px;
  color: #818181;
  display: block;
  transition: 0.3s;
  line-height: 53px;
}

.sidebar a:hover {
  color: #f1f1f1;
}
/* .sidebar a.active{
    border: 2px solid red;
  } */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
#mySidebar a:active {
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  border-right: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
